<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Please contact an Administrator for help
  <ul>
	<li>Mukul Panchal - <a href= "mailto:mukulpanchal@gmail.com" >mukulpanchal@gmail.com</a></li>
	<li>Duy Nguyen - <a href= "mailto:vincentddn@gmail.com" >vincentddn@gmail.com</a></li>
	<li>Abhinav Patil - <a href= "mailto:patil.abhinav20@gmail.com" >patil.abhinav20@gmail.com</a></li>
	<li>Vishal Sharma - <a href= "sharma.viz@gmail.com" >sharma.viz@gmail.com</a></li>
  </ul>
</p>