<div class="center hero-unit">
  <h1>ReachOut</h1>

  <h2>
    Welcome to the VMAD Community's Social Network
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %>
</div>

